/* ###########################################################
                            LOGIN PAGE
#############################################################*/




.cadastro {


  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15), 0 9px 26px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 0;
}


.slide {
  width: 100%;
  flex-shrink: 0;
  padding: 0;
}

.slide-header{
  border-radius: 7px 7px 0 0;
  background: #002776;
  height: 100px;
  padding-top: 6%;

}

.slide-header h5 {
  text-align: center;
  color: #ffffff;
}


.slide-body{
  background-color: #ffffff;
}

.slide>div:target {
  transform: scale(0.8);
}

form {
  padding: 10%;
}

form .form-group{
  margin-bottom: 20px;
}

form input{

  border-color: #888888;

}



form submit {
  padding: 10%;

}

.btnSubmit {
  width: 30%;
  margin-top: 2%;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.btnSubmit {
  font-weight: normal;
  color: #fff;
  background: #002776;
  border-radius: 4px;
}

