<app-shared-home>
  <app-navbar></app-navbar>
  <div class="container">

    <div class="row mt-4 mb-1">
      <div class="col">
        <h3 class="mt-3">Propostas de redistribuição</h3>
        <p>Navegue pelas propostas submetidas pelos usuários.</p>
      </div>
      <div class="col text-right">

        <a class="btn btn-dark border-0 px-3 py-2 bg-indigo mt-3 dropdown-toggle sombra" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Visualizar minhas propostas</a>
        <div class="dropdown-menu" aria-labelledby="triggerId1">
          <a class="dropdown-item" href="#" routerLink="rascunhos">
            Meus rascunhos</a>
          <a class="dropdown-item" href="#" routerLink="submetidas"> Minhas propostas submetidas</a>
          <a class="dropdown-item" href="#" routerLink="candidatadas"> Propostas que demonstrei interesse</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <form action="" [formGroup]="formFiltro">
          <div class="row">
            <div class="col-12 pt-2 pb-2 text-dark">
              <button class="unidade-tag p-2 bg-verde sombra btn btn-sm" data-toggle="collapse" href="#filtro"
                      role="button"
                      aria-expanded="false" aria-controls="multiCollapseExample1">
                <fa-icon [icon]="filter"></fa-icon>
                Filtrar elementos
              </button>
            </div>
          </div>
          <div class="collapse p-3 " id="filtro">

            <div class="row bg-white sombra px-3 pt-2 mb-2">

              <div class="col-4">

                <form>
                  <mat-form-field class="">
                    <mat-label>Estado</mat-label>
                    <input type="text" matInput [formControl]="estadoControl" [matAutocomplete]="estado"
                           placeholder="Digite para filtrar">
                    <mat-autocomplete #estado="matAutocomplete" [displayWith]="displayFnEstado"
                                      (optionSelected)="selectEstadoOnChange($event)">
                      <mat-option *ngFor="let option of estadosFiltrados | async" [value]="option">
                        {{option.nome}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>

              </div>

              <div class="col-6">

                <form>
                  <mat-form-field class="w-100">
                    <mat-label>Instituição</mat-label>
                    <input type="text" matInput [formControl]="instituicaoControl" [matAutocomplete]="instituicao"
                           [placeholder]="msgFiltroInstituicao" >
                    <mat-autocomplete #instituicao="matAutocomplete" [displayWith]="displayFnInstituicao">
                      <mat-option *ngFor="let option of instituicoesFiltradas | async" [value]="option">
                        {{option.nome}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>

              </div>


              <div class="col-2 text-right pt-3">
                <button class="btn bg-indigo sombra px-4 py-1 text-light mb-4" (click)="montaBuscaFiltro(0)">
                  Aplicar
                </button>
              </div>

            </div>

          </div>


        </form>
      </div>
      <div class="col-12" *ngIf="this.filtroAplicado">
        <button class="btn text-light bg-lilas" (click)="removerFiltro()"> Remover filtro</button>

      </div>
    </div>

    <div class="row pt-3">



      <div class="col-12 col-md-6" *ngFor="let proposta of propostas | paginate: { id: 'foo',
                                                            itemsPerPage: 8,
                                                            currentPage: paginaAtual,
                                                            totalItems: totalRegistros }">
        <div class="card bg-branco mb-4 sombra">
          <div class="card-body">
            <h6 class="card-title">
              Submetida por {{proposta.autor.nome}}</h6>
            <div class="card-text">
              <div class="row">
                <div class="col">
                  <ul class="features">
                    <li>
                      <fa-icon [icon]="mapMarker"></fa-icon>
                      {{proposta.autor.localizacao}}
                    </li>
                    <li>
                      <fa-icon [icon]="plane"></fa-icon>
                      Destinos desejados:
                      <ul class="py-2 lista-unidades">
                        <li class="mr-2 d-block"><span class="unidade-tag bg-secondary sombra"
                                                       *ngFor="let unidade of toArray(proposta.unidadePropostaGetDTOS)">
                                       {{unidade.sigla}}
                          - {{unidade.nome}}</span></li>

                      </ul>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="col mt-4">
                  <fa-icon [icon]="calendar" class="mr-2"></fa-icon>
                  {{proposta.dataProposta}}
                </div>
                <div class="col text-right mt-3">

                  <button *ngIf="verificarPropostaCandidatada(proposta.id)"
                          class="btn mr-3 bg-indigo sombra cursor-pointer text-light
                        px-3" data-toggle-second="tooltip" data-placement="left">
                    <fa-icon [icon]="check"></fa-icon>
                    Já salva
                  </button>

                  <button href="" [routerLink]="['./']" class="btn bg-verde sombra text-light
                        cursor-pointer px-3" data-toggle-second="tooltip" data-placement="left" title="Mais detalhes"
                          (click)="exibeDetalhes(proposta, detalheProposta)">
                    <fa-icon [icon]="info"></fa-icon>
                  </button>
                </div>

              </div>


            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row mt-2">
      <pagination-controls *ngIf="this.propostas.length > 0" id="foo" class="align-content-center" (pageChange)="pageChanged($event)"
                           maxSize="10" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
      <div class="col" *ngIf="this.propostas.length == 0">
        <div class="alert alert-danger alert-dismissible">
          Não há propostas para exibir.
        </div>
      </div>

    </div>

  </div>

  <ng-template #detalheProposta>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Detalhe da proposta</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="fecharModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-4 text-center">
          <fa-icon [icon]="usuario" style="font-size: 80px;"></fa-icon>
          <h5>{{propostaDetalhada.autor.nome}}</h5>
          <span class="d-block px-1">
            {{propostaDetalhada.autor.cargo.nome}}
          </span>
          <span class="d-block">
             Data: {{propostaDetalhada.dataProposta}}
          </span>
        </div>
        <div class="col-8">


          <ul class="lista-detalhe-proposta">
            <li><span class="d-block">
               <fa-icon [icon]="mapMarker"></fa-icon>
              {{propostaDetalhada.autor.localizacao}}
           </span>
            </li>
            <li>
              <fa-icon [icon]="plane"></fa-icon>
              Destinos desejados:
              <ul class="lista-unidades">
                <li class="mr-2 d-block"><span class="unidade-tag sombra bg-secondary"
                                               *ngFor="let unidade of toArray(propostaDetalhada.unidadePropostaGetDTOS)">
                                       {{unidade.sigla}}
                  - {{unidade.nome}}</span></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class=" modal-footer">
      <button class="btn bg-lilas sombra text-light" (click)="fecharModal()">
        <fa-icon [icon]="back"></fa-icon>
        Voltar
      </button>
      <button class="btn bg-verde text-light mr-3 sombra"
              *ngIf="!verificarPropostaCandidatada(propostaDetalhada.id) && propostaDetalhada.autor.id != this.idusuario" (click)="candidatar(propostaDetalhada.id)">
        <fa-icon [icon]="check"></fa-icon>
        Tenho interesse
      </button>
    </div>
  </ng-template>


</app-shared-home>
