<app-shared-home>
  <app-navbar></app-navbar>

  <div class="container">

    <div class="row mt-4 mb-3">
      <div class="col">
        <h3 class="mt-4">Propostas que demonstrei interesse</h3>
      </div>
      <div class="col text-right">

        <a class="btn btn-dark border-0 px-3 py-2 bg-indigo mt-3 dropdown-toggle sombra" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Visualizar minhas propostas</a>
        <div class="dropdown-menu" aria-labelledby="triggerId1">
          <a class="dropdown-item" href="#" routerLink="../rascunhos">
            Meus rascunhos</a>
          <a class="dropdown-item" href="#" routerLink="../submetidas"> Minhas propostas submetidas</a>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="propostas.length > 0">
      <div class="col-12 pt-3">
        <div class="table-responsive">
          <table class="tabela-especial table table-striped align-middle text-left">
            <tbody>
            <tr *ngFor="let proposta of propostas">


              <td class="text-left">


                <h6 class="card-title">
                  Proposta submetida em {{proposta.dataProposta}} por {{proposta.autor.nome}}</h6>

                <ul class="features">
                  <li>
                    <fa-icon [icon]="mapMarker"></fa-icon>
                    {{proposta.autor.localizacao}}
                  </li>
                  <li>
                    <fa-icon [icon]="plane"></fa-icon>
                    Destinos desejados:
                    <ul class="py-2 lista-unidades">
                      <li class="mr-2 d-block"><span class="unidade-tag bg-secondary sombra"
                                                     *ngFor="let unidade of toArray(proposta.unidadePropostaGetDTOS)">
                                       {{unidade.sigla}}
                        - {{unidade.nome}}</span></li>

                    </ul>
                  </li>
                </ul>
              </td>
              <td>

                <div class="float-right">
                  <button href="" *ngIf="proposta.numeroCandidatos > 0" [routerLink]="['./']" class="btn bg-lilas
                   sombra text-light
                        cursor-pointer py-1 px-2 ml-2" data-toggle-second="tooltip" data-placement="left"
                          title="Não tenho mais interesse" (click)="removerCandidatura(proposta)">
                    <fa-icon [icon]="faBan"></fa-icon>
                    Não tenho mais interesse
                  </button>


                </div>

              </td>
            </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>

    <div class="row" *ngIf="propostas.length == 0">
      <div class="col mt-5">
        <span>
          Você não se interessou por nenhuma proposta.
        </span>

        <a routerLink="../../propostas"
           class="fg-indigo">
         Ver as propostas públicas </a>

      </div>
    </div>

  </div>

</app-shared-home>
