<app-shared-login>
  <div class="col-md-6 cadastro">
    <div class="slide">
      <div class="slide-header">
        <h5>Cadastro realizado</h5>
      </div>
      <div class="slide-body">
        <form>
          <div class="row">
            <div class="col text-center">
              <h4>Pronto, seu cadastro foi realizado com sucesso.</h4>
              <p>É necessário confirmar seu e-mail e para isso enviamos um link de verificação no endereço cadastrado.
              Após isso, sua conta estará ativa e você poderá utilizar os serviços do Rediserv</p>

              <button class="btn text-light bg-indigo" routerLink="../entrar">Ir para o início</button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-shared-login>
